# Игнорирование логов
*.log

# Игнорирование конфигурационных файлов
*.conf
*.cfg
*.ini

# Игнорирование файлов окружения
.env

# Игнорирование временных файлов
*.tmp
*.swp

# Игнорирование файлов баз данных
*.db
*.sqlite

# Игнорирование файлов резервных копий
*.bak
*.backup

# Игнорирование файлов журналов
*.journal

# Игнорирование файлов секретных ключей
*.key

# Игнорирование файлов сертификатов
*.cert
*.pem

# Игнорирование файлов ключей SSH
*.pub
*.pem

# Игнорирование файлов конфиденциальной информации
*.confidential

# Игнорирование файлов с паролями
*.password

# Игнорирование файлов с данными аутентификации
*.auth

# Игнорирование файлов с секретными токенами
*.token

# Игнорирование файлов с данными доступа к API
*.api

# Игнорирование файлов с настройками IDE
.idea/
.vscode/

# Игнорирование каталогов с книгами
uploaded_texts/
exercises_texts/

# Игнорирование кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование файлов формата ipynb
*.ipynb_checkpoints/